<div class="container">
  <!-- Lista di giochi -->
  <div class="row">
    <div class="col-md-4" *ngFor="let game of games">
      <!-- Card di ogni gioco -->
      <div class="card my-2">
        <img [src]="game.coverUrl || game.screenshotUrl" class="card-img-top" alt="{{ game.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ game.name }}</h5>
          <p class="card-text">{{ game.genreNames }}</p>
          <button>
            <a routerLink="['/game-details', game.id]">Dettagli</a>
          </button>
        </div>
      </div>
    </div>
  </div>

