<div class="container">
  <!-- Lista di giochi -->
  <div class="row">
    <div class="col-md-4" *ngFor="let game of games">
      <!-- Card di ogni gioco -->
      <div class="card">
        <img [src]="game.coverUrl || game.screenshotUrl" class="card-img-top" alt="{{ game.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ game.name }}</h5>
          <p class="card-text">{{ game.genreNames }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Paginazione -->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" aria-label="First" (click)="goToFirstPage()">
          <span aria-hidden="true">&laquo;&laquo;</span>
        </a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" aria-label="Previous" (click)="goToPreviousPage()">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of visiblePages" [class.active]="page === currentPage">
        <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === maxPages">
        <a class="page-link" aria-label="Next" (click)="goToNextPage()">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === maxPages">
        <a class="page-link" aria-label="Last" (click)="goToLastPage()">
          <span aria-hidden="true">&raquo;&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
